.home-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100%;
}

.home-container h1 {
   font-size: 48px;
}

.home-container span {
   margin-bottom: 28px;
}

.home-form {
   display: flex;
   flex-direction: column;
   width: 90%;
   max-width: 600px;
}

.home-form input {
   border: 0;
   margin-bottom: 12px;
   height: 36px;
   border-radius: 4px;
   padding: 0 8px
}

.home-form button {
   height: 36px;
   border: 0;
   border-radius: 4px;
   background-color: #3366ff;
   color: #FFF;
   font-size: 16px;
}

.home-form textarea {
   margin-bottom: 12px;
   border: 0;
   height: 90px;
   resize: none;
   border-radius: 4px;
   padding: 8px;
}

.home-form textarea::placeholder {
   text-align: center;
   font-size: 16px;
}

.button-link {
   color: #b4b9bb;
   text-decoration: none;
   margin: 14px 0;
   font-size: 14px;
}

.button-link:hover {
   text-decoration: underline;
   text-decoration-color: #b4b9bb;

}